<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaikoBarlineHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaikoBarlineHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TaikoBarlineHelper.Properties.Settings>
            <setting name="UpdateXML" serializeAs="String">
                <value>https://raw.githubusercontent.com/Iojioji/TaikoBarlineHelper/main/AutoUpdater.xml</value>
            </setting>
        </TaikoBarlineHelper.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <TaikoBarlineHelper.Properties.Settings>
            <setting name="LoadedMap" serializeAs="String">
                <value />
            </setting>
            <setting name="DonSetEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KatSetEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DonFinSetEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KatFinSetEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DonSetGimmickType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KatSetGimmickType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DonFinSetGimmickType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KatFinSetGimmickType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DonSetBarAmount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="KatSetBarAmount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="DonFinSetBarAmount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="KatFinSetBarAmount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DonSetBarSpacing" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="KatSetBarSpacing" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DonFinSetBarSpacing" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="KatFinSetBarSpacing" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DonSetBarSVIncrease" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KatSetBarSVIncrease" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DonFinSetBarSVIncrease" serializeAs="String">
                <value>0.025</value>
            </setting>
            <setting name="KatFinSetBarSVIncrease" serializeAs="String">
                <value>0.025</value>
            </setting>
            <setting name="IsTutorial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LinesFieldString" serializeAs="String">
                <value />
            </setting>
        </TaikoBarlineHelper.Properties.Settings>
    </userSettings>
</configuration>