<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaikoBarlineHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TaikoBarlineHelper.Properties.Settings>
            <setting name="UpdateURL" serializeAs="String">
                <value>https://raw.githubusercontent.com/Iojioji/TaikoBarlineHelper/main/AutoUpdater.xml</value>
            </setting>
        </TaikoBarlineHelper.Properties.Settings>
    </applicationSettings>
</configuration>